[submodule ".registry"]
	path = .registry
	url = https://github.com/camp-bnu/camp-bnu.r-universe.dev
	branch = HEAD
[submodule "data.camp"]
	path = data.camp
	url = https://github.com/CAMP-BNU/data.camp
